<head>
        <title>D3 Test</title>
        <script type="text/javascript" src="{{STATIC_URL}}/d3.v2.js"></script>
          <link rel="stylesheet" href="{{STATIC_URL}}/css/bootstrap.min.css"/>
          <link rel="stylesheet" href="{{STATIC_URL}}/css/style.css"/>

    </head>
    <body>
      <div id="container" class="container">
    <header>
    <h1>Visualization for Young Africa live data</h1>

    </header>
    <div id="main" role="main">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" id="stream" class="btn active switch">Streamgraph</button>
        <button type="button" id="stack" class="btn switch">Stacked Area</button>
        <button type="button" id="area" class="btn switch">Area</button>
      </div>
      <div id="vis"></div>
  <div id="legend"></div>

  <script type="text/javascript">
  
    //Data is parsed from view.py file in json format
    //Data is the three mobile phones with the highest count.This is
    //returned in a list.For each mobile phone returned there's a list of entries in a histogram format(time and count value of mobile phone usage at the time)
    var data;
    //load data
    data = JSON.parse('{{ entry|safe }}');
  
    //for each entry parse the time and count
    data.forEach(function(s) {
    s.entries.forEach(function(d) {
    d.time = new Date(d.time);
    d.count = parseFloat(d.count);
              
    });
    // find the max count for each set of entries and return a  maxCount variable
    s.maxCount = d3.max(s.entries, function(d) {
    return d.count;
    });
              
    });
    // sort the list of entries according to maxCount
    data.sort(function(a, b) {
           
    return b.maxCount - a.maxCount;
    });
  
    
    var area, areas, color, createLegend,  display, duration, height, hideLegend, line, paddingBottom, showLegend, stack, stackedAreas, start, streamgraph, svg, transitionTo, width, x, xAxis, y;
    //intialize all the variables required to draw the stream graph
    // , stacked graph and area graph
    paddingBottom = 20;
    // width and height of the svg object
    width = 880;

    height = 600 - paddingBottom;
    // duration transisition to new graph
    duration = 750;
    // xaxis scale
    x = d3.time.scale().range([0, width]);
    // yaxis scale
    y = d3.scale.linear().range([height, 0]);
    // color scale used for visualization
    color = d3.scale.category10();


   //area generator used to draw polygons used in the graphs
    area = d3.svg.area().interpolate("basis").x(function(d,i) {return x(d.time);});
   // line generator used for all the graphs
    line = d3.svg.line().interpolate("basis").x(function(d,i) {return
    x(d.time);});
  
    //Stack layout to be used for streamgraph and stacked area graph
    stack = d3.layout.stack().values(function(d) {
        
    return d.entries;
    }).x(function(d) {
              return d.time;
    }).y(function(d) {
        
    return d.count;
    }).out(function(d, y0, y) {       
               
    return d.count0 = y0;
              
    }).order("reverse");


    //intialize xAxis and svg
    xAxis = d3.svg.axis().scale(x).tickSize(-height);
    svg = d3.select("#vis").append("svg").attr("width", width).attr("height", height + paddingBottom);

    // transition function
      transitionTo = function(name) 
         {
        if (name === "stream") 
            {
              streamgraph();
            }
      if (name === "stack")
            {
            stackedAreas();
            }
      if (name === "area")
             {
              return areas();
              }
            };

   //start function that starts out by drawing the legends, axis and
   // then calls on the streamgraph function to drwa the streamgraph
    start = function() {
    var dates, g, index, maxDate, minDate, requests;

    // set up x axis domain
    minDate = d3.min(data, function(d) {return d.entries[0].time; });
    maxDate = d3.max(data, function(d) {  return d.entries[d.entries.length - 1].time;});
    x.domain([minDate, maxDate]);
    dates = data[0].entries.map(function(v) {return v.time;});
    index = 0;

    // add dates to x axis
    xAxis.tickValues(dates);
    console.log(dates);
    svg.append("g").attr("class", "x axis").attr("transform",
   "translate(0," + height + ")").call(xAxis);

    // start display in the middle
    area.y0(height / 2).y1(height / 2);

   //bind data to create a new group for each request
    g = svg.selectAll(".request").data(data).enter();
    requests = g.append("g").attr("class", "request");

    //add paths that will be used to siplay the lines and areas that
   // make up charts
    requests.append("path").attr("class", "area").style("fill", function(d) {return color(d.term);})
    .attr("d", function(d) {return area(d.entries);});
    requests.append("path").attr("class", "line").style("stroke-opacity", 10);
    createLegend();
    // return streamgraogh
    return streamgraph();
    };

   // stream graph function that draws the streamgraph
   streamgraph = function() {
   var t;
   // stream graph 'offest'
   stack.offset("wiggle");
   stack(data);
   //creat y domain
   y.domain([0, d3.max(data[0].entries.map(function(d) {return
   d.count0 + d.count;})) ]).range([height, 0]);

   // line and area functions to accomodate count0 variable created in
   //stack layout
   line.y(function(d) {return y(d.count0);});
   area.y0(function(d) {return y(d.count0);}).y1(function(d) { return
   y(d.count0 + d.count);});
   //create transistion
   t = svg.selectAll(".request").transition().duration(duration);
   t.select("path.area").style("fill-opacity", 1.0).attr("d", function(d,i) { /*console.log(area(d.entries))*/
   return area(d.entries);});
   return t.select("path.line").style("stroke-opacity", 10).attr("d", function(d) {
   return line(d.entries);});
     };

 //function that draws the stacked graph
   stackedAreas = function() {
   var t;
   stack.offset("zero");
   stack(data);
   y.domain([
    0, d3.max(data[0].entries.map(function(d) {
      return d.count0 + d.count;
    }))
    ]).range([height, 0]);
    line.y(function(d) {
    return y(d.count0); });
  area.y0(function(d) {
    return y(d.count0);})
  .y1(function(d) {
    return y(d.count0 + d.count);});
  t = svg.selectAll(".request").transition().duration(duration);
  t.select("path.area").style("fill-opacity", 1.0).attr("d", function(d) {
    return area(d.entries);
   });
  return t.select("path.line").style("stroke-opacity", 1e-6).attr("d", function(d) {
    return line(d.entries);});
    };

//fuction to return area chart
areas = function() {
  var g, t;
  g = svg.selectAll(".request");
  line.y(function(d) {
    return y(d.count0 + d.count);
  });
  g.select("path.line").attr("d", function(d) {
    return line(d.entries);
  }).style("stroke-opacity", 1e-6);
  y.domain([
    0, d3.max(data.map(function(d) {
      return d.maxCount;
    }))
  ]).range([height, 0]);
  area.y0(height).y1(function(d) {
    return y(d.count);
  });
  line.y(function(d) {
    return y(d.count);
  });
  t = g.transition().duration(duration);
  t.select("path.area").style("fill-opacity", 0.5).attr("d", function(d) {
    return area(d.entries);
  });
  return t.select("path.line").style("stroke-opacity", 1).attr("d", function(d) {
    return line(d.entries);
  });
   };


//function to display legends
 showLegend = function(d, i) {
  d3.select("#legend svg g.panel").transition().duration(500).text("nothing");
  return d3.select("#legend svg g.panel").transition().duration(500).attr("transform", "translate(0,0)");
   };


//function to hide legend
  hideLegend = function(d, i) {
  return d3.select("#legend svg g.panel").transition().duration(500).attr("transform", "translate(165,0)");
  };


  //function to create legend (side panel)
  createLegend = function() {
  var keys, legend, legendG, legendHeight, legendWidth;
  legendWidth = 200;
  legendHeight = 245;
  legend = d3.select("#legend").append("svg").attr("width", legendWidth).attr("height", legendHeight);
  legendG = legend.append("g").attr("transform", "translate(165,0)").attr("class", "panel");
  legendG.append("rect").attr("width", legendWidth).attr("height", legendHeight).attr("rx", 4).attr("ry", 4).attr("fill-opacity", 0.5).attr("fill", "white");
  legendG.on("mouseover", showLegend);//.on("mouseout", hideLegend);
  keys = legendG.selectAll("g").data(data).enter().append("g").attr("transform", function(d, i) {
    return "translate(" + 5 + "," + (10 + 40 * (i + 0)) + ")";
  });
  keys.append("rect").attr("width", 30).attr("height", 30).attr("rx", 4).attr("ry", 4).attr("fill", function(d) {
    return color(d.term);
  });
  return keys.append("text").text(function(d) {
    return d.term;
  }).attr("text-anchor", "left").attr("dx", "2.3em").attr("dy", "1.3em");
   };

  start();
  //button that allows transistions between stream graph , stacked graph and area graph
  buttons=(function() {
  d3.selectAll(".switch").on("click", function(d) {
    var id;
    d3.event.preventDefault();
    id = d3.select(this).attr("id");
    console.log(d3.select(this));
    return transitionTo(id);
  });
  
  });
  buttons();

        </script>
    </body>
</html>